doctype html
html(ng-app="reAdoptAHydrant")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title re-adopt-a-hydrant
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

        // [if lt IE 9]>
            script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
        != "<!--[if lt IE 9]>"
            script(type="text/javascript").
                alert("Votre navigateur est désuet. Nous vous recommandons Google Chrome.");
                window.location.href = "https://www.google.com/chrome/browser/";
        != "<!-- <![endif]-->"

        link(rel="stylesheet", href="/stylesheets/style.css")
        link(href="/stylesheets/zocial.css", rel="stylesheet")

    body
        .panel(ng-controller="panelCtrl").pull-left
            a.language(href='/?lang=fr', ng-show="language.indexOf('fr') == -1") Fr
            a.language(href='/?lang=en', ng-show="language.indexOf('en') == -1") En
            .logo
                img(src="/images/logov2.png", alt="logo re-Adopt-A-Hydrant")
            .descriptionContainer
                .description=t("description")
            .login-form(ng-hide="user")
                a.zocial.facebook(href="/auth/facebook")=t("login")
                a.zocial.twitter(href="/auth/twitter")=t("login")
            .userInfoContainer(ng-show="user")
                .userInfo
                    .text=t("hi")
                    h3 {{user.displayName}}!
                    .text(ng-bind="adoptedHydrantsText")
            footer
                .footer-content
                    p.by=t("devBy")
                a(href="http://www.openify.it")
                    img(src='/images/openify_icon_white_small.png')
        .map-container(ng-controller="mapCtrl")
            #map-canvas
        
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-cookies.min.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=#{apiKey}&sensor=false")
        script(src='i18next/i18next.js', type='text/javascript')
        if isDev
            script(type='text/javascript', src='/closure/base.js')
            script(type='text/javascript', src='/javascripts/deps.js')
        else
            script(type='text/javascript', src='/javascripts/compiled.js')

        script(type='text/javascript').
            goog.require('reAdoptAHydrant.Application');
        script(type='text/javascript').
            var app = new reAdoptAHydrant.Application();
            app.start();
        script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37980098-1']);
            _gaq.push(['_setDomainName', 'openify.it']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
