doctype 5
html(ng-app="reAdoptAHydrant", lang="en")
    head
        meta charset="utf-8"
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title re-Adopt-A-Hydrant
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

        // [if lt IE 9]>
            script(src="//html5shim.googlecode.com/svn/trunk/html5.js")

        link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css", rel="stylesheet")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(href="https://raw.github.com/samcollins/css-social-buttons/master/css/zocial.css", rel="stylesheet")

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-cookies.min.js")
        script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=#{apiKey}&sensor=false")
        script(src='i18next/i18next.js', type='text/javascript')

        if isDev
            script(type='text/javascript', src='/closure/base.js')
            script(type='text/javascript', src='/javascripts/deps.js')
        else
            script(type='text/javascript', src='/javascripts/compiled.js')

        script(type='text/javascript')
            goog.require('reAdoptAHydrant.Application');
        script(type='text/javascript')
            var app = new reAdoptAHydrant.Application();
            app.start();        

    body
        .panel(ng-controller="panelCtrl").pull-left
            .logo
                img(src="images/logo.png", alt="logo re-Adopt-A-Hydrant")
            .descriptionContainer
                .description=t("description")
            .login-form(ng-hide="user")
                a.zocial.facebook(href="/auth/facebook")=t("fbLogin")
                .splitter or
                a.zocial.twitter(href="/auth/twitter")=t("twitterLogin")
            .userInfoContainer(ng-show="user")
                .userInfo
                    .text=t("hi")
                    h3 {{user.name.givenName}}!
                    .text(ng-bind="adoptedHydrantsText")
            footer(ng-controller="footerCtrl")
                .footer-content
                    a(href='/?lang=fr', ng-hide="language == 'fr'") Francais
                    a(href='/?lang=en', ng-hide="language == 'en'") English
                    .by
                        p=t("devBy")
                            a(href="http://openify.it") Openify.it
                    .socialLinks
                        a.facebook(href="https://www.facebook.com/OpenifyIt")
                        a.twitter(href="https://twitter.com/OpenifyIt")
                        a.github(href="https://github.com/OpenifyIt")
        .map-container(ng-controller="mapCtrl")
            map(id='map-canvas')
